.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0%;
  left: 0%;
  display: none;
}
.popup:target {
  display: block;
}
.popup_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  color: black;
  max-width: 500px;
  padding: 150px;
  position: relative;
}
.popup_bottom {
  display: block;
}

.close_button {
  font-size: 20px;
  right: 10px;
  top: 10px;
  position: absolute;
  color: black;
  text-decoration: none;
}
